.markdown {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.markdown p {
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 16px;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
  border-bottom: 1px dashed #0366d6;
}

.markdown ul, .markdown ol {
  margin-bottom: 16px;
  padding-left: 20px;
}

.markdown ul li::before {
  content: "●";
  color: #ccc;
  font-size: 12px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.markdown ol li::before {
  content: counter(list-item) ".";
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em; 
}

.markdown li {
  line-height: 1.5;
  margin-bottom: 4px;
}

.markdown li p {
  margin: 0px;
}

.markdown blockquote {
  background-color: #f6f8fa;
  border-left: 4px solid #dfe2e5;
  margin: 0px;
  padding: 10px;
}

.markdown hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 32px;
  margin-bottom: 32px;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.markdown th, .markdown td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown th {
  background-color: #f6f8fa;
  font-weight: bold;
  text-align: left;
}